.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ================ for Navbar ==================== */
.nav_div{
  display: flex;
  justify-content: space-around;
  letter-spacing: 2px;
  margin-left: 66%;
}

/*  ============ Buttton ================= */
.btn-small {
  outline: solid 1px purple;
  margin: 2px;
}

/*  ================== Search ================== */
.search {
  margin-left: 80%;
  margin-top: 1%;
}

/*  ======================= Search Button ============= */
.btn_search{
  outline: solid 1px black;
}

/* ============ Select tag ==================== */
select{
  border-top: black;
  border-left: black;
  border-right: black;
  width: 400px;
}

/*  ================== Validation Error ================== */
.error{
  color: red;
  font-size: .8rem;
  position: absolute;
}

/* ============== form ================== */
.formSubmit{
  width: 400px;
}

/*  =============== Upload Image =============== */
img{
  width: 80px;
  height: 80px;
}

.item {
  margin-left: 1%;
}

